h1 {
    font-size: 2rem;
}

.button {
    font-size: 2em;
    margin: 2rem;
    background-color: #FFD23F;
    border-style: dotted;
    border-radius: 2em;
    padding: 0.5em;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.flexy {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
